<html lang="en">
<%- include('../partials/header.ejs') %>
<body>
    <%- include('../partials/nav-bar.ejs') %>

    <h1>Edit Posts</h1>

    <h2>Drafts</h3>

    <div class="class_editDraftPostsListContent">

        <!-- Adding some JavaScript to this HTML template -->
        <!-- This is expecting an array of posts b/c it is cycling through all of the posts sent to it. -->
        <% if (draftPosts.length > 0) { %>
            <!-- Iterate through the posts and generate HTML for each one -->
            <% draftPosts.forEach(post => { %>
                <!-- The anchor tag below is hyperlinking each post on the homepage to a page that shows only that post. The post._id part is assigning a unique ID to each of the hyperlinks so that they lead to a different page for each post. -->
                <p class="class_singleDraftPost">
                    <!-- TODO: List the date each post was posted next to the post. Need to figure out how to formate the Date object (see post.js). -->
                    <a href="/posts/<%= post._id %>"><%= post.title %></a>
                    <a class="class_edit" href="/admin/edit/<%= post.id %>?status=draft">Edit Post</a>
                    <a class="class_btn_delete" data-doc="<%= post._id %>">Delete</a>
                </p>

            <% }) %>
        <% } else { %>
            <p>There are no draft posts to display.</p>
        <% } %>
    </div>

    <h2>Published</h3>

    <div class="class_editPublishedPostsListContent">

        <!-- Adding some JavaScript to this HTML template -->
        <!-- This is expecting an array of posts b/c it is cycling through all of the posts sent to it. -->
        <% if (publishedPosts.length > 0) { %>
            <!-- Iterate through the posts and generate HTML for each one -->
            <% publishedPosts.forEach(post => { %>
                <!-- The anchor tag below is hyperlinking each post on the homepage to a page that shows only that post. The post._id part is assigning a unique ID to each of the hyperlinks so that they lead to a different page for each post. -->
                <p class="class_singlePublishedPost">
                    <!-- TODO: List the date each post was posted next to the post. Need to figure out how to formate the Date object (see post.js). -->
                    <a href="/posts/<%= post._id %>"><%= post.title %></a>
                    <a class="class_edit" href="/admin/edit/<%= post.id %>?status=published">Edit Post</a>
                    <a class="class_btn_delete" data-doc="<%= post._id %>">Delete</a>
                </p>

            <% }) %>
        <% } else { %>
            <p>There are no published posts to display.</p>
        <% } %>
    </div>

    <%- include('../partials/footer.ejs') %>

    <script>

        const draftDeleteBtn = document.querySelector('div.class_editDraftPostsListContent');

        draftDeleteBtn.addEventListener('click', (e) => {
            
            // TODO: Fix delete-confirmation functionality. Disabled it b/c it wasn't working correctly.
            // if(alert('Are you sure? Click back arrow to cancel. Do not refresh page.')) {

                const endpoint = `/admin/${draftDeleteBtn.dataset.doc}?status=draft`; // This is getting the id from the data-doc=... object above.
                fetch(endpoint, {
                    method: 'DELETE', // This is specifying the request type (POST, GET, DELETE, etc.)
                })
                .then(response => response.json()) // response is the json data that is sent from the server to th browser. This file, details.ejs, lives on the frontend. response.json() returns an object that is then parsed into usable JavaScript object.
                .then(data => window.location.href = data.redirect) // This logs the data, JavaScript, that came through the response.json() statement above.
                .catch(err => console.log(err));
            // }
        });

        const publishedDeleteBtn = document.querySelector('div.class_editPublishedPostsListContent');

        publishedDeleteBtn.addEventListener('click', (e) => {
            
            // TODO: Fix delete-confirmation functionality. Disabled it b/c it wasn't working correctly.
            // if(alert('Are you sure? Click back arrow to cancel. Do not refresh page.')) {

                const endpoint = `/admin/${publishedDeleteBtn.dataset.doc}?status=published`; // This is getting the id from the data-doc=... object above.
                fetch(endpoint, {
                    method: 'DELETE', // This is specifying the request type (POST, GET, DELETE, etc.)
                })
                .then(response => response.json()) // response is the json data that is sent from the server to th browser. This file, details.ejs, lives on the frontend. response.json() returns an object that is then parsed into usable JavaScript object.
                .then(data => window.location.href = data.redirect) // This logs the data, JavaScript, that came through the response.json() statement above.
                .catch(err => console.log(err));
            // }
        });
    </script>

</body>
</html>