<html lang="en">
    <%- include('../partials/header.ejs') %>

    <body>
        <%- include('../partials/nav-bar.ejs') %>
        
        <div class="class_details_postContent">

            <h2><%= post.title %></h2>
            
            <!-- <img src="/glenfinnan-viaduct-uk.jpg" alt="featured image"/> -->
            <img src="/images/<%= post.featuredImage %>" alt="featured image"/>

            <div class="content">
                <!-- This injects the content directly into the HTML. Thus, it will be parsed like HTML. -->
                <%- post.body %>
            </div>

            <!-- TODO: Remove this meta data and put it into a partial that is loaded on this page so we can easily include the author's image, etc. -->
            <div>
                <p>Auhor: <%= post.author %></p>
                <p>Status: <%= post.publishingStatus %></p>
            </div>

        </div>

        <%- include("../partials/footer.ejs") %>

    </body>
</html>